/* Default Reset */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }

/* Navbar */
nav{
    display: flex;
    padding: 20px 200px;
    justify-content: space-between;
    background-color: rgb(4, 6, 37,);
    transition: 0.3;
   
  }

  .logo-wrapper img{
    height: 60px;
    width: 60px;
    background-color: rgba(192, 192, 192, 0.9);
    border-radius: 30px;
  }
  
  .nav-items .nav-links{
    color: rgb(244, 244, 250);
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    padding: 20px;
    
  }
  /* Hide Hamburger */
  .hamburger-wrapper{
    display: none;
  } 
  
  .hamburger-wrapper .hamburger{
    color: white;
    font-size: 30px;
    cursor: pointer;
  }
  
  .nav-items .nav-links:hover{
    background-color: gold;
    border-radius: 90px;
  }
  .nav-items input{
    border-radius: 6px;
    text-align: justify;
    margin-left: 80px;
    margin-top: 10px;
  }








  /* Media query */
@media (max-width: 800px) {
    nav{
        display: flex;
        justify-content: space-between;
        padding: 20px 50px;
    }
    .nav-items{
         display: none
    }
   .open-nav-items{
       display: flex;
       flex-direction: column;
       margin-top: 30px;
       width: 100%;
       
   }
   
    .hamburger-wrapper{
        display: block;
        color: rgb(0, 0, 143);
        cursor: pointer;
        font-size: 30px;
    }
    
  }